{% extends 'base.html.twig' %}

{% block title %}Hello ArticlesController!{% endblock %}

{% block body %}

{# comment itérer dans une liste avec twig #}

<ul>
    {% for article in articles %}
        {# <li> 
            <a href="{{ path('app_article_by_id', { id : article.id } ) }}"> {{ article.title }} </a>
        </li> #}
        
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"> {{article.title}} </h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="{{ path('app_article_by_id', {id : article.id} ) }}" class="btn btn-primary">Go somewhere</a>
        </div>
        </div>

    {% endfor %}
</ul>

{% endblock %}
