{% extends 'base.html.twig' %}

{% block title %}Hello ArticlesController!{% endblock %}

{% block body %}

    <div class="card" style="width: 18rem;">

    {% if article.picture == NULL %}
        <img class="card-img-top" src="{{ asset('build/images/default.jpg') }}" alt="Card image cap">
    {% else %}
        <img class="card-img-top" src="{{ asset('build/images/' ~ article.picture ) }}" alt="Card image cap">
    {% endif %}

    <div class="card-body">
        <h5 class="card-title"> {{article.title}} </h5>
        <h6 class="card-title"> {{article.date|date("d-m-y")}} </h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    </div>

{% endblock %}
