<h1> Bonjour, vous avez reçu un nouveau message. Le voici ainsi que les coordonnées de l'expéditeur </1>

<ul>
    <li> Prénom : {{contact.firstName}}  </li>
    <li> Nom : {{contact.name}} </li>
    <li> Email : {{contact.email}} </li>
</ul>

<h2> Le message : </h2>

<p> {{contact.message}} </p>